/* body{
  height: 1024px;
  max-width: 1440px;
  max-height: 1024px;
  display: flex;
  justify-content: center;
  align-items: center;
} */

/* ----------------------------index | Login form page ----------------------------------*/
body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
header {
  position: relative;
}
/* hero section */
main {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: row-reverse;
  max-width: 1440px;
  margin: auto;
  justify-content: center;
  align-items: center;
}
.helpIconDiv {
  position: absolute;
  top: 0.4rem;
  right: 1rem;
  z-index: 1;
  color: var(--white);
  font-size: 1.1rem;
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
}
h1 {
  font-size: 2.4rem;
  color: var(--darkAsh);
}
#loginHero {
  width: 53%;
  height: 100%;
  /* background-image: url("../assets/loginHeroImg.png"); */
  background-image: url("../assets/loginHeroImg.png");
  background-position: center;
  background-size: cover;
  position: relative;
}
.loginHeroText {
  width: 85%;
  display: flex;
  background-color: var(--white);
  border-radius: 10px;
  align-items: center;
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
}
.chatIconDiv {
  padding: 22px 29px 20.8px 30px;
  border-radius: 10px 0 0 10px;
  background-color: var(--blueishAsh);
}
.chatIconDiv img {
  width: 4.5rem;
}
.loginHeroTextDiv {
  padding-inline: 1rem;
}
.loginHeroTextDiv h2 {
  font-size: 18px;
  padding-bottom: 16px;
}
.loginHeroTextDiv p {
  font-size: 14px;
}
/* form section */
.formSect {
  border-radius: 20px;
  width: 50%;
  background-color: var(--background);
  height: 100%;
  display: flex;
  flex-direction: column;
}
#logoImg img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
form div h3 {
  color: var(--lightAsh);
  font-size: 18px;
  margin-block: 13px 20px;
}
form div {
  width: 100%;
}
form div label {
  color: var(--black);
}
.inpDivInp {
  height: 4.5rem;
  width: 100%;
  border-radius: 5px;
  border: none;
  outline: none;
  margin-bottom: 1rem;
  padding-inline: 1.5rem;
  padding-top: 1.3rem;
  transition: 500ms all ease;
}
.checkInp {
  display: flex;
  justify-content: space-between;
  margin-block: 1rem;
}
input[type="checkbox"] {
  appearance: none;
  width: 11px;
  height: 11px;
  margin-right: 4px;
  cursor: pointer;
  position: relative;
  border-radius: 2.5px;
}
input[type="checkbox"]:checked::after {
  content: "✓";
  color: var(--white);
  font-size: 10px;
  font-weight: 900;
  position: absolute;
  top: 50%;
  right: 50%;
  padding-inline: 2px;
  transform: translate(-50%, -50%);
  /* top: 50%;
  height: 50%;
  transform: translate(-50%, -50%); */
  background-color: var(--orange);
}
.inpDivInp:hover {
  border: 1px solid var(--orange);
}
.inpDivInp:focus {
  border: none;
  box-shadow: 2px 2px 2px var(--lightAsh) inset;
}
.inpDiv {
  position: relative;
}
.innerLabel {
  position: absolute;
  top: 0.4rem;
  left: 1.6rem;
}
.fa-user,
.fa-lock {
  position: absolute;
  right: 1.5rem;
  bottom: 1.5rem;
  color: var(--iconColor);
}
small {
  color: var(--red);
  position: absolute;
  right: 1.5rem;
  top: 0.4rem;
}
.inpDivInp::placeholder {
  color: var(--lightAsh);
}
.btnDiv button {
  background-color: var(--orange);
  color: var(--white);
  padding-block: 1.35rem;
  width: 100%;
  border: none;
  margin-bottom: 2rem;
  border-radius: 5px;
  box-shadow: 0 2px 2px 1px var(--orange);
  transition: 500ms all ease;
}
button:hover,
#passWReset:hover,
#rememberMeLbl:hover,
small:hover {
  cursor: pointer;
}
button:hover {
  box-shadow: 2px 2px 2px 1px var(--lightAsh);
}
button:focus {
  box-shadow: 1px 1px 1px 1px var(--darkAsh) inset;
}
@media screen and (min-width: 1440px) {
  body {
    max-height: 70vh !important;
    margin-block: 10%;
  }
}
/* @media screen and (min-width: 501px) and (max-width: 900px) {
  #loginHero {
    height: 40vh;
    width: 100%;
  }
  .loginHeroText {
    transform: translate(-50%, 50%);
  }
  .chatIconDiv {
    padding: 5px;
    border-radius: 10px;
  }
  .loginHeroTextDiv {
    padding-inline: 0.2rem;
  } */

  /* form section */
  .loginForm {
    width: 90%;
    margin: auto;
  }
  #logoImg {
    margin: 2rem auto;
  }
  form div h3 {
    margin-block: 10px;
  }
  .inpDivInp {
    height: 3.2rem;
    border: none;
  }
  .btnDiv button {
    padding-block: 1rem;
    width: 100%;
  }
/* } */

/* ----------------mobile responsiveness ------------------------ */

@media screen and (min-width: 0) and (max-width: 900px) {
  main {
    flex-direction: column;
  }
  #loginHero {
    width: 100%;
    height: 40vh;
  }
  .loginHeroText {
    flex-direction: column;
    background-color: var(--white);
  }
  .chatIconDiv {
    border-radius: 10px;
  }
  .loginHeroTextDiv {
    padding-inline: 0.7rem;
  }
  .loginHeroTextDiv h2 {
    padding-bottom: 10px;
  }
  .loginHeroTextDiv p {
    padding-bottom: 10px;
  }

  /* form section */
  .formSect {
    background-color: var(--background);
    padding: 1rem;
    width: 100%;
  }
  h1 {
    font-size: 1.8rem;
  }
  #logoImg {
    margin: auto;
  }
  form div {
    width: 100%;
  }
  form div label {
    color: var(--black);
  }
  input {
    height: 4rem;
    width: 100%;

    padding-top: 1.3rem;
    box-shadow: 2px 2px 2px var(--lightAsh);
  }
  .checkInp {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
  .btnDiv button {
    padding-block: 0.7rem;
  }

  input[type="checkbox"]:checked::after {
    top: 52%;
    right: -50%;
  }
}
